<!DOCTYPE html>
<html ng-app="shoppingListApp">
  <head>
    <title>Shopping List App</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-mocks/angular-mocks.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-controller="shoppingListCtrl">

    <div id="wrapper">

      <nav>
        <img src='img/logo.jpg' alt="logo.png">
        <h3>Never Forget Anything Again</h3>
      </nav>

      <section>

        <p>Add Item to Shopping List</p>

        <div id="add_item" class="section_div">
          <form>
            <label for="add_field">Whats is the Item?</label>
            <input type="text" id="add_field" ng-model="itemIn">
            <button ng-click="add(itemIn)">Add</button>
          </form>
        </div>

        <p>Items You Have Not Bought</p>
        <div id="to_buy" class="section_div">

          <ul id="items_to_buy">
          <label>Items you added to the list will appear here</label>

            <li ng-repeat="item in tobuy" >
              <input type="checkbox" ng-click="moveDown(item)">
              <label>{{item.name}}</label>
              <button class="delete" ng-click="remove(item)">Delete</button>
            </li>

          </ul>
        </div>

        <p>Items You Have Bought</p>
        <div id="bought_items" class="section_div">
          <label>Items you have bought will appear here</label>

          <ul id="bought_item">
            <li ng-repeat="item in bought" >
              <input type="checkbox" ng-click="moveUp(item)">
              <label>{{item.name}}</label>
              <button class="delete">Delete</button>
            </li>
          </ul>

        </div>
      </section>
    </div>
  </body>
</html>